
header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px;
    
}

h1 {
    color: blue;
}

header > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header > li{
    display: inline-block;
}