
header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70px;
    background-color: cadetblue;
    /* border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     */
}

h1 {
    color: blue;
}

header > ul{
    list-style: none;
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    

}

header > li{
    border: 1px solid pink;
}
