header {
	display: grid;
	grid-template-columns: 50px 1fr 1fr 350px;
	grid-template-rows: 70px;
	background-color: black;
}

header > h1 {
	color: white;
	grid-column: 2 / span 1;
}

header > ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 4 / span 1;
	align-items: center;
}

.links {
	color: white;
	font-size: 20px;
}
