.temp_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

table,
td,
th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	/* width: 320;
    height: 100;
    overflow: auto; */
	table-layout: fixed;
	width: 100%;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4caf50;
	color: white;
}

.graph-table-con {
	display: grid;
	/* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1000px; */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 400px;
	column-gap: 20px;
	row-gap: 20px;
}

.graph {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

.table {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}

.table-body {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.quick-stats-con {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px;
}
/* Login Modal */
#modal-login {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-login-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
}

.input-login {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
