.temp_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table, td, th {
  border: 1px solid black;
}

table{
    border-collapse: collapse;
    /* width: 320;
    height: 100;
    overflow: auto; */
    table-layout:fixed;
    width:100%;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.graph-table-con {
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1000px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
}


.graph{
    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    overflow: auto;
}

.table{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}